body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 50px;
}
.top-part{
    display: flex;
}
.flexible{
    /* width: 50%; */
   
}
 div img{
    width: 50%;
    margin-left: 10%;
}.para{
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
} 
.button{
    text-decoration: none;
    background: rgb(227, 223, 7);
    padding: 10px 40px;
    border-radius: 10px;
    columns: rgb(98, 8, 8) ;
    font-weight: 600;
}
#name{
    color: blueviolet;
}